name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  GARGON_TERM_LOC: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: gargon build -d-verbose
    - name: Run tests
      run: gargon test -d-verbose
	
